.button{
    border-color: #4caf50;
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 4px 2px;
    display: inline;
}

.button:hover{
    background: #006400;
}
