<ul class="nav justify-content-center">
    
    <li class="nav-item">
        <a class="nav-link" routerLink='/'>Inicio</a>
    </li>
</ul>
<br>
<br>
<br>


<div class="resumo">
<p>Nome: Lucas Lemos</p>
<p>Idade: 21 anos</p>
<img src="https://lh3.googleusercontent.com/a/AAcHTtcY76-hY-ML07Z_kRBWapzh_WltvakoOreBBj321tdhWQ=s288-c-no" alt="">
<p>Um neguin novato na area da programação, gostando de mecher com códigos, atualmente desempregado, pretendento seguir, 
    na área de redes. Angular atualmente está sendo um pé no saco!!! Prefiro java do que Angular!!!!
</p>
</div>
    
    